{
    :devices {
        :macbook-built-in [{:product_id 835 :vendor_id 1452}]
        :keychron-k2 [{:product_id 591 :vendor_id 1452}]
    }
    :layers {
        :movement-mode {:key :caps_lock :alone {:key :escape}}
    }
    :applications {
        :chrome ["com.google.Chrome"]
        :vs-code ["com.microsoft.VSCode"]
    }
    :main [
        {
            :des "Homerow Movements"
            :rules [
                [:!Sj [:!Sleft_arrow] :movement-mode]
                [:!Sk [:!Sdown_arrow] :movement-mode]
                [:!Sl [:!Sup_arrow] :movement-mode]
                [:!Ssemicolon [:!Sright_arrow] :movement-mode]
                [:##j :left_arrow :movement-mode]
                [:##k :down_arrow :movement-mode]
                [:##l :up_arrow :movement-mode]
                [:##semicolon :right_arrow :movement-mode]
                [:##delete_or_backspace [:!Odelete_or_backspace] :movement-mode]
            ]
        }
    ]
}
